*.o
INSTALL
Makefile
*.in
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
depcomp
install-sh
missing
*/.deps/
*.swp
common/
config.guess
config.h.in~
config.sub
install/
libtool
ltmain.sh
stamp-h1
ylwrap
m4/
.deps/
.libs/
*.la
config.h
parser.h
*.deps/
*.dirstamp
*.lo
make.log.*
make.install.log.*
configure.log.*
deepsea_plugins_config.h
*.h.in~
printdeepseaconfig
tags
src/libcommon/parser/bison.c
src/libcommon/parser/bison.h
src/libcommon/parser/flex.c
.vim_nerdtree_bookmarks
